body {
  /*background-color: #b1b262;*/
}

#parent #popup {
  display: none;
}

#parent:hover #popup {
  display: block;
  position: absolute;
  margin-top: 70px;
  color: #28597a;
}

main {
  min-width: 1410px;
  max-width: 1410px;
}

#left-side-bar {
  background-color: #b1b262;
  max-width: 49%;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  min-width: 49%;
  padding-bottom: 40px;
}

#right-side-bar {
  background-color: #ffffff;
  max-width: 700px;
  min-width: 700px;
  display: inline-block;
  vertical-align: middle;
}

.in-the-left {
  margin: 10% 0% 0% 20%;
}

#image {
  display: block;
  margin: auto;
  margin-top: 0%;
  max-width: 60%;
  max-height: 85%;
}

.full-name {
  margin-top: 3%;
}

.links {
  margin: 200px 0px 0px 648px;
  position: fixed;
}

.my-name-is, .name {
  margin: 0;
  font-family: Impact, Charcoal, sans-serif;
}

.my-name-is, .name {
  margin-top: -4%;
  font-size: 80px;
}

.my-name-is {
  color: #a3903a;
}

.name {
  color: #605f5a;
}

.about-me {
  max-width: 400px;
  background-color: #c9c991;
  padding: 1em;
  margin-top: 1em;
}

.email{
  margin: 10px 0px 0px 70px;
}

.download, .downloadToRemove {
  margin-top: 20px;
  text-align: center;
  vertical-align: middle;
}

#linkedIn {
  margin: 25% 0% 0% 25%;
  max-width: 50%;
  min-height: 50%;
  opacity: 1;
}

#github {
  margin: 10% 0% 0% 10%;
  max-width: 79%;
  min-height: 79%;
  opacity: 1;
}

#project-image {
  margin: 9.5% 0% 0% 10%;
  max-width: 79%;
  min-height: 79%;
}

#project-word {
  margin: -10% 0% 0% 15%;
}

.circle{
  margin-bottom: 25%;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-color: #6b5700;
  opacity: .6;
  padding: 5%;
}
.circle:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.4), 0 6px 40px 0 rgba(0, 0, 0, 0.38);
}

.lightAnimation {
  margin: -90px 0px 0px 17px;
  width: 53px;
  height: 53px;
  border-radius: 100px;
  background-color: yellow;
  position: absolute;
  opacity: .5;
}

.wrap-right-side {
  margin-top: 0%;
}

.title {
  padding: 30px;
  color: #b1b262;
  margin: 0px 0px 0px 190px;
}

#imageResume {
  margin: 0% 0% 0% 8%;
  width: 95%;
}


/*CSS tricks*/
.button {
   margin-right: 10px;
   border-top: 1px solid #b1b262;
   background: #605f5a;
   background: -webkit-gradient(linear, left top, left bottom, from(#b1b262), to(#605f5a));
   background: -webkit-linear-gradient(top, #b1b262, #605f5a);
   background: -moz-linear-gradient(top, #b1b262, #605f5a);
   background: -ms-linear-gradient(top, #b1b262, #605f5a);
   background: -o-linear-gradient(top, #b1b262, #605f5a);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 15px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.downloadToRemove {
  margin-top: 50px;
}


.projects-container {
  background-color: gray;
  display: none;
  width: 714px;
  height: 921px;
  margin-top: -20px;
}

footer {
  width: 100%;
  height: 45px;
  background-color: #a3903a;
  text-align: center;
}

#foot {
  padding: 14px;
}


/*projects parse*/

.projects-titler {
  color: #ffffff;
  padding-top: 35px;
  margin-left: 37%;
  font-size: 30px;
}

.projects {
  width: 100px;
  margin: 30px;
}

#checkers {
  margin: 0px 0px 0px 90px;
}

#invisibleT {
  margin: -200px 0px 0px 400px;
}

#walmart {
  margin: 0px 0px 0px 90px;
}

#flashC {
  margin: -250px 0px 0px 400px;
}

#checkers-image {
  width: 250px;
  height: 250px;
}

 #invisibleT-image {
  width: 250px;
  height: 184px;
 }
 #flashCard-image {
  height: 200px;
 }

 #walmart-image {
  color: #ffffff;
  background-color: #605f5a;
  width: 250px;
  height: 230px;
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
 }

 /* Queries*/
@media only screen and (max-device-width: 480px) {
  body {
    background-color: #b1b262;
  }
  /* Links out side of the main tag*/
  .links {
    margin: 20px 0px 0px 823px;
  }
  .link-mobile-github{
    margin: 0px 0px 0px 0px;
    position: absolute;
  }
   .link-mobile-projects{
    margin: -149px 0px 0px 260px;
    position: absolute;
    display: none;
  }
  .lightAnimation {
    margin: -125px 0px 0px 285px;
    width: 70px;
    height: 70px;
  }
  .projects-lable{
    margin-top: 50px;
    margin-left: -50px;
    font-size: 50px;
  }
  .circle{
    width: 110px;
    height: 110px;
    opacity: 0.9;
  }
  /* Links end*/


  main {
    min-width: 100%;
    max-width: 100%;
  }

  /* left side content */
  #left-side-bar {
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 10%;
  }
  .in-the-left {
    margin: 10% 0% 0% 10%;
  }
  .marge{
    margin-top: -0.35em;
    font-size: 170px;
  }
  .about-me {
    padding-top: 0.1px;
    max-width: 690px;
    margin-top: 0em;
    font-size: 40px;
  }
  .full-name {
    font-size: 70px;
  }
  .email{
    font-size: 40px;
    margin: 30px 0px 0px 107px;
  }
  .resize-button{
    font-size: 35px;
    padding: 10px;
    margin-left: 20px;
  }
  /* left content end*/

  /* right side content */
  #right-side-bar {
    max-width: 100%;
    min-width: 100%;
    margin-top: 100px;
  }
  .title {
    position: relative;
    margin-left: 250px;
    padding-bottom: 15px;
    font-size: 40px;
  }
  #image {
    margin-top: 0%;
    max-width: 60%;
    max-height: 85%;
  }
  .download {
    margin-top: 40px;
  }
  #resumeImage {
    display: none;
  }
  /* right side end*/

  /*Projects*/
  .projects-container {
    height: 100%;
    margin-top: 50px;
    display: block;
    background-color: #b1b262;
    width: 100%;
  }
  .projects-titler {
    color: #ffffff;
    margin-left: 37%;
    font-size: 50px;
  }
  .projects {
    position: relative;
    width: 65%;
    height: 700px;
  }
  #checkers {
    margin: auto;
  }

  #invisibleT {
    margin: auto;
  }

  #walmart {
    margin: auto;
  }

  #flashC {
    margin: auto;
  }
  #checkers-image {
    margin-top: 0px;
    width: 650px;
    height: 650px;
  }

 #invisibleT-image {
    margin-top: 10px;
    width: 650px;
    height: 650px;
 }
 #flashCard-image {
    margin-top: 20px;
    width: 650px;
    height: 650px;
 }

 #walmart-image {
   margin-top: 10px;
    width: 650px;
    height: 650px;
    font-size: 60px;
 }
  /*projects end*/

  #foot {
    font-size: 20px;
  }

  footer {
    padding-top: 10px;
  }

}
