body {
  background: #bdfcf7;
  width: 100%;
}

main {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  height: 80%;
  width: 80%;
}

.sideBard {
  text-align: center;
  float: right;
  background-color: #eaeada;
  width: 20%;
  min-height: 800px;
  display: inline-block;
  vertical-align: middle;
}


table {
  margin: auto;
}

.board {
  margin: auto;
  height: 538px;
  width: 538px;
  border-style: solid;
  text-align: center;
}

.squares {
  padding: 1px;
  height: 130px;
  width: 130px;
  border-style: solid;
  /*display: inline-block;*/
}



#s1 {
  margin: 0px 0px 0px 0px;
}

#s2 {
  margin: -120px 0px 0px 134px;
}

#s3 {
  margin: -110px 0px 0px 269px;
}

#s4 {
  margin: -100px 0px 0px 403px;
}

#s5 {
  margin: 4px 0px 0px 0px;
}

#s6 {
  margin: -130px 0px 0px 134px;
}

#s7 {
  margin: -130px 0px 0px 269px;
}

#s8 {
  margin: -130px 0px 0px 403px;
}

#s9 {
  margin: 4px 0px 0px 0px;
}

#s10 {
  margin: -130px 0px 0px 134px;
}

#s11 {
  margin: -130px 0px 0px 269px;
}

#s12 {
  margin: -130px 0px 0px 403px;
}

#s13 {
  margin: 4px 0px 0px 0px;
}

#s14 {
  margin: -130px 0px 0px 134px;
}

#s15 {
  margin: -130px 0px 0px 269px;
}

#s16 {
  margin: -130px 0px 0px 403px;
}

.boxSize {
  margin: 0 auto;
  padding-top: 31px;
  padding-bottom: 31px;
}

.numbers2 {
  background-color: #93fff7;
}

.numbers4 {
  background-color: #81e8a5;
}

.numbers8 {
  background-color: #8179f7;
}

.numbers16 {
  background-color: #ffe993;
}

.numbers32 {
  background-color: #ffc793;
}

.numbers64 {
  background-color: #ff93de;
}

.numbers128 {
  background-color: #ff93a9;
}

.numbers256 {
  background-color: #fc3535;
}


/*side bar*/

.comoJogarNone {
  display: none;
}

.comoJogarDisplayed {
  display: block;
  text-align: center;
  padding: 20px 10px 20px 10px;
}
p {
  font-size: 120%;
}



.idiom {
  margin-top: 15px;
   border-top: 1px solid #ffffff;
   background: #696969;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#696969));
   background: -webkit-linear-gradient(top, #ffffff, #696969);
   background: -moz-linear-gradient(top, #ffffff, #696969);
   background: -ms-linear-gradient(top, #ffffff, #696969);
   background: -o-linear-gradient(top, #ffffff, #696969);
   padding: 7px 14px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 17px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.idiom:hover {
   border-top-color: #c94c4c;
   background: #c94c4c;
   color: #000000;
   }
.idiom:active {
   border-top-color: #ffffff;
   background: #ffffff;
   }
