body {
  background: #bdfcf7;
  width: 100%;
}

main {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  height: 80%;
  width: 80%;
}

#newGame {
  margin-bottom: 10px;
}

.sideBard {
  text-align: center;
  float: right;
  background-color: #eaeada;
  width: 20%;
  min-height: 800px;
  display: inline-block;
  vertical-align: middle;
}

table {
  margin: auto;
}

.board {
  margin: auto;
  height: 568px;
  width: 570px;
  border-style: solid;
  text-align: center;
}

.squares {
  padding: 1px;
  height: 130px;
  width: 130px;
  border-style: solid;
  display: inline-block;
}

.boxSize {
  margin: auto;
  padding: 28px 47px 28px 47px;
  position: absolute;
}

.a {
  margin-top: 2px;
}

.numbers2 {
  padding: 28px 47px 28px 47px;
  background-color: #93fff7;
}

.numbers4 {
  padding: 28px 47px 28px 47px;
  background-color: #81e8a5;
}

.numbers8 {
  padding: 28px 47px 28px 47px;
  background-color: #8179f7;
}

.numbers16 {
  padding: 28px 29px 28px 29px;
  background-color: #ffe993;
}

.numbers32 {
  padding: 28px 29px 28px 29px;
  background-color: #ffc793;
}

.numbers64 {
  padding: 28px 29px 28px 29px;
  background-color: #ff93de;
}

.numbers128 {
  padding: 28px 11.5px 28px 11.5px;
  background-color: #ff93a9;
}

.numbers256 {
  padding: 28px 11.5px 28px 11.5px;
  background-color: #fc3535;
}



/*ARROWS*/
.arrows {
  display: none;
  margin: auto;
  height: 600px;
  width: 600px;
}

#arrowLeft {
  margin-top: 180px;
  float: left;
}

#arrowUp {
  margin: 0 0 0 -170px;
  position: absolute;
}
#arrowRight {
  margin-top: 180px;
  float: right;
}
#arrowDown {
  position: absolute;
  margin: 320px 0 0 -170px;
}







/*side bar*/

.comoJogarNone {
  display: none;
}

.comoJogarDisplayed {
  display: block;
  text-align: center;
  padding: 20px 10px 20px 10px;
}
p {
  font-size: 120%;
}



.idiom {
  margin-top: 15px;
   border-top: 1px solid #ffffff;
   background: #696969;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#696969));
   background: -webkit-linear-gradient(top, #ffffff, #696969);
   background: -moz-linear-gradient(top, #ffffff, #696969);
   background: -ms-linear-gradient(top, #ffffff, #696969);
   background: -o-linear-gradient(top, #ffffff, #696969);
   padding: 7px 14px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 17px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.idiom:hover {
   border-top-color: #c94c4c;
   background: #c94c4c;
   color: #000000;
   }
.idiom:active {
   border-top-color: #ffffff;
   background: #ffffff;
   }


@media only screen and (max-device-width: 480px) {
  .arrows {
    display: block;
  }
}




